<a href="https://colab.research.google.com/github/jaquelineamaral/data-analysis/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tipo de Informação
Váriaveis podem armazenar dados de diferentes tipos e diferente tipos podem fazer coisas diferentes:


1.   Text type: *str*
2.   Numeric types: *int, float, complex*
3.   Sequence types: *list, tuple, range*
4.   Mapping type: *dict*
5.   Set types: *set, frozenset*
6.   Boolean type: *bool*
7.   Binary type: *bytes, bytearray, memoryview*

### Fatiamento de String
Podemos acessar posição das *Strings* utilizando colchetes.
String [posição inicial: posição final]

In [ ]:
my_string = 'Hello World'

my_string[-10:-5]

'ello '

###Datetime

In [ ]:
import datetime

In [ ]:
data_antiga = datetime.date(2024, 6, 20)

data_atual = datetime.date(2025, 2, 3)

print((data_atual - data_antiga).days)

In [ ]:
dias = 60
data_atual + datetime.timedelta(dias)

datetime.date(2025, 4, 4)

###Statistics

In [ ]:
import statistics

In [ ]:
lista = [12, 15, 28, 56, 78, 78, 80]

In [ ]:
# Calcular média
sum(lista) / len(lista)

statistics.mean(lista)

49.57142857142857

In [ ]:
# Mediana (valor que está no meio)
statistics.median(lista)

56

In [ ]:
# Moda
statistics.mode(lista)

78

###Continue

É usado dentro de *loops* (*for* e *while*) para interromper a iteração atual e continuar com a próxima iteração do loop.
Qualquer instrução após o *continue* não será executada.

In [ ]:
pedidos = [
    {"id": 1, "status": "entregue", "valor": 100.0},
    {"id": 2, "status": "cancelado", "valor": 200.0},
    {"id": 3, "status": "entregue", "valor": 150.0},
    {"id": 4, "status": "cancelado", "valor": 50.0},
    {"id": 5, "status": "entregue", "valor": 300.0}
]

total_entregue = 0
pedidos_entrgues = []

for pedido in pedidos:
    if pedido["status"] == "cancelado":
        continue  # Interrompe a iteração atual e continua com a próxima iteração do loop

    pedidos_entrgues.append(pedido)
    total_entregue += pedido["valor"]

print(f"Total de vendas entregues: {total_entregue}")
print(f"Pedidos entregues: {pedidos_entrgues}")

Total de vendas entregues: 550.0
Pedidos entregues: [{'id': 1, 'status': 'entregue', 'valor': 100.0}, {'id': 3, 'status': 'entregue', 'valor': 150.0}, {'id': 5, 'status': 'entregue', 'valor': 300.0}]

###Função Lambda
É uma pequena função anônima e pode receber qualquer número de argumento, mas pode ter apenas uma expressão.

In [ ]:
soma = lambda valor: valor + 10

soma(5)

15

In [ ]:
pessoas = [
    {"nome": "Ana", "idade": 28, "cidade": "Juiz de Fora"},
    {"nome": "João", "idade": 34, "cidade": "Rio de Janeiro"},
    {"nome": "Carlos", "idade": 25, "cidade": "São Paulo"},
    {"nome": "Daniela", "idade": 32, "cidade": "Curitiba"},
    {"nome": "Edu", "idade": 22, "cidade": "Juiz de Fora"}
]

# Filtrar as pessoas que moram em Minas e ordenar por idade

# Função lambda verifica se a cidade da pessoa (pessoa["cidade"]) é "Juiz de Fora"
# Sintaxe Filter: filter (função que testa cada elemento, estrutura interavel - lista, string...)
pessoas_minas = filter(lambda pessoa: pessoa["cidade"] == "Juiz de Fora", pessoas)

# Função lambda retorna a idade da pessoa
# Sintaxe Sorted: sorted (estrutura interavel - lista, string..., key - opcional)
pessoas_ordenadas = sorted(pessoas_minas, key = lambda pessoa: pessoa["idade"])

# Retorno do Filter e Sorted é um interador
for pessoa in pessoas_ordenadas:
    print(f"Nome: {pessoa['nome']}, Idade: {pessoa['idade']}, Cidade: {pessoa['cidade']}")

Nome: Edu, Idade: 22, Cidade: Juiz de Fora
Nome: Ana, Idade: 28, Cidade: Juiz de Fora

###Pandas

Base de dados: https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem

In [ ]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/cursos/phyton_para_analise_de_dados/dados_enem/microdados_enem_2023_minas.xlsx')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66972 entries, 0 to 66971
Data columns (total 76 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            66972 non-null  int64
 1   NU_ANO                  66972 non-null  int64
 2   TP_FAIXA_ETARIA         66972 non-null  int64
 3   TP_SEXO                 66972 non-null  object
 4   TP_ESTADO_CIVIL         66972 non-null  int64
 5   TP_COR_RACA             66972 non-null  int64
 6   TP_NACIONALIDADE        66972 non-null  int64
 7   TP_ST_CONCLUSAO         66972 non-null  int64
 8   TP_ANO_CONCLUIU         66972 non-null  int64
 9   TP_ESCOLA               66972 non-null  int64
 10  TP_ENSINO               64342 non-null  float64
 11  IN_TREINEIRO            66972 non-null  int64
 12  CO_MUNICIPIO_ESC        66972 non-null  int64
 13  NO_MUNICIPIO_ESC        66972 non-null  object
 14  CO_UF_ESC               66972 non-null  int64
 15  SG_UF_ESC               66972 non-null  object
 16  TP_DEPENDENCIA_ADM_ESC  66972 non-null  int64
 17  TP_LOCALIZACAO_ESC      66972 non-null  int64
 18  TP_SIT_FUNC_ESC         66972 non-null  int64
 19  CO_MUNICIPIO_PROVA      66972 non-null  int64
 20  NO_MUNICIPIO_PROVA      66972 non-null  object
 21  CO_UF_PROVA             66972 non-null  int64
 22  SG_UF_PROVA             66972 non-null  object
 23  TP_PRESENCA_CN          66972 non-null  int64
 24  TP_PRESENCA_CH          66972 non-null  int64
 25  TP_PRESENCA_LC          66972 non-null  int64
 26  TP_PRESENCA_MT          66972 non-null  int64
 27  CO_PROVA_CN             52957 non-null  float64
 28  CO_PROVA_CH             54789 non-null  float64
 29  CO_PROVA_LC             54789 non-null  float64
 30  CO_PROVA_MT             52957 non-null  float64
 31  NU_NOTA_CN              52957 non-null  float64
 32  NU_NOTA_CH              54789 non-null  float64
 33  NU_NOTA_LC              54789 non-null  float64
 34  NU_NOTA_MT              52957 non-null  float64
 35  TX_RESPOSTAS_CN         52957 non-null  object
 36  TX_RESPOSTAS_CH         54789 non-null  object
 37  TX_RESPOSTAS_LC         54789 non-null  object
 38  TX_RESPOSTAS_MT         52957 non-null  object
 39  TP_LINGUA               66972 non-null  int64
 40  TX_GABARITO_CN          52957 non-null  object
 41  TX_GABARITO_CH          54789 non-null  object
 42  TX_GABARITO_LC          54789 non-null  object
 43  TX_GABARITO_MT          52957 non-null  object
 44  TP_STATUS_REDACAO       54789 non-null  float64
 45  NU_NOTA_COMP1           54789 non-null  float64
 46  NU_NOTA_COMP2           54789 non-null  float64
 47  NU_NOTA_COMP3           54789 non-null  float64
 48  NU_NOTA_COMP4           54789 non-null  float64
 49  NU_NOTA_COMP5           54789 non-null  float64
 50  NU_NOTA_REDACAO         54789 non-null  float64
 51  Q001                    66972 non-null  object
 52  Q002                    66972 non-null  object
 53  Q003                    66972 non-null  object
 54  Q004                    66972 non-null  object
 55  Q005                    66972 non-null  int64
 56  Q006                    66972 non-null  object
 57  Q007                    66972 non-null  object
 58  Q008                    66972 non-null  object
 59  Q009                    66972 non-null  object
 60  Q010                    66972 non-null  object
 61  Q011                    66972 non-null  object
 62  Q012                    66972 non-null  object
 63  Q013                    66972 non-null  object
 64  Q014                    66972 non-null  object
 65  Q015                    66972 non-null  object
 66  Q016                    66972 non-null  object
 67  Q017                    66972 non-null  object
 68  Q018                    66972 non-null  object
 69  Q019                    66972 non-null  object
 70  Q020                    66972 non-null  object
 71  Q021                    66972 non-null  object
 72  Q022                    66972 non-null  object
 73  Q023                    66972 non-null  object
 74  Q024                    66972 non-null  object
 75  Q025                    66972 non-null  object
dtypes: float64(16), int64(23), object(37)
memory usage: 38.8+ MB
None

In [ ]:
df.head(n = 10)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210061103984,2023,3,M,1,3,1,2,0,2,...,B,A,A,C,B,A,D,A,B,B
1,210059540818,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A
2,210058395543,2023,2,F,1,1,1,2,0,2,...,A,A,A,B,A,A,B,A,A,B
3,210059868213,2023,4,F,1,3,1,2,0,2,...,A,A,B,B,A,A,C,A,B,B
4,210059910691,2023,3,F,1,1,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A
5,210059416194,2023,3,F,1,1,1,2,0,2,...,B,A,A,C,A,B,B,A,B,B
6,210060811510,2023,2,F,1,2,1,2,0,2,...,A,A,A,B,A,A,E,A,A,B
7,210058085098,2023,2,M,1,1,1,2,0,2,...,A,A,A,A,B,A,B,A,A,A
8,210060023671,2023,3,F,1,3,1,2,0,2,...,B,A,A,B,A,B,B,A,A,B
9,210061254694,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B

In [ ]:
df.tail(n = 10)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
66962,210061544525,2023,17,F,2,1,1,2,0,2,...,A,A,B,C,A,B,C,B,C,B
66963,210060883249,2023,2,F,1,3,1,2,0,2,...,B,A,A,B,A,A,D,A,A,B
66964,210060971850,2023,3,M,0,2,1,2,0,2,...,B,A,B,C,A,B,E,A,A,B
66965,210060041063,2023,3,M,1,2,1,2,0,2,...,B,A,A,B,A,A,C,B,B,B
66966,210061615619,2023,3,M,2,3,1,2,0,2,...,B,A,A,B,A,A,C,A,B,B
66967,210061575496,2023,4,M,1,2,3,2,0,2,...,A,A,A,A,A,A,C,A,A,B
66968,210058924565,2023,2,F,1,1,1,2,0,2,...,A,A,A,C,A,A,D,A,A,B
66969,210060800104,2023,2,M,1,1,1,2,0,2,...,A,A,B,B,A,B,E,A,D,B
66970,210061822307,2023,2,F,1,3,1,2,0,2,...,B,A,A,B,A,A,D,A,B,B
66971,210060262578,2023,5,F,1,1,1,2,0,2,...,A,A,A,B,A,A,B,A,A,B

In [ ]:
df.shape

(66972, 76)

In [33]:
# verificar dados ausentes (em termos percentuais)
(df.isnull().sum() / df.shape[0] * 100).sort_values(ascending = False)

TX_RESPOSTAS_MT    20.926656
TX_GABARITO_CN     20.926656
CO_PROVA_MT        20.926656
NU_NOTA_CN         20.926656
NU_NOTA_MT         20.926656
                     ...
TP_PRESENCA_CN      0.000000
TP_PRESENCA_CH      0.000000
TP_PRESENCA_LC      0.000000
TP_PRESENCA_MT      0.000000
Q025                0.000000
Length: 76, dtype: float64